In [1]:
import camelot

In [31]:
!pip install "camelot-py[base]"

Requirement already satisfied: camelot-py[base] in c:\users\family\scoop\persist\pyenv\pyenv-win\versions\3.10.3\lib\site-packages (0.9.0)
Requirement already satisfied: pdfminer.six>=20200726 in c:\users\family\scoop\persist\pyenv\pyenv-win\versions\3.10.3\lib\site-packages (from camelot-py[base]) (20220524)
Requirement already satisfied: chardet>=3.0.4 in c:\users\family\scoop\persist\pyenv\pyenv-win\versions\3.10.3\lib\site-packages (from camelot-py[base]) (5.0.0)
Requirement already satisfied: numpy>=1.13.3 in c:\users\family\scoop\persist\pyenv\pyenv-win\versions\3.10.3\lib\site-packages (from camelot-py[base]) (1.23.1)
Requirement already satisfied: openpyxl>=2.5.8 in c:\users\family\scoop\persist\pyenv\pyenv-win\versions\3.10.3\lib\site-packages (from camelot-py[base]) (3.0.10)
Requirement already satisfied: PyPDF2>=1.26.0 in c:\users\family\scoop\persist\pyenv\pyenv-win\versions\3.10.3\lib\site-packages (from camelot-py[base]) (2.5.0)
Requirement already satisfied: click>=6.7 in c:\users\family\scoop\persist\pyenv\pyenv-win\versions\3.10.3\lib\site-packages (from camelot-py[base]) (8.1.3)
Requirement already satisfied: pandas>=0.23.4 in c:\users\family\scoop\persist\pyenv\pyenv-win\versions\3.10.3\lib\site-packages (from camelot-py[base]) (1.4.3)
Requirement already satisfied: colorama in c:\users\family\scoop\persist\pyenv\pyenv-win\versions\3.10.3\lib\site-packages (from click>=6.7->camelot-py[base]) (0.4.5)
Requirement already satisfied: et-xmlfile in c:\users\family\scoop\persist\pyenv\pyenv-win\versions\3.10.3\lib\site-packages (from openpyxl>=2.5.8->camelot-py[base]) (1.1.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\family\scoop\persist\pyenv\pyenv-win\versions\3.10.3\lib\site-packages (from pandas>=0.23.4->camelot-py[base]) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\family\scoop\persist\pyenv\pyenv-win\versions\3.10.3\lib\site-packages (from pandas>=0.23.4->camelot-py[base]) (2.8.2)
Requirement already satisfied: cryptography>=36.0.0 in c:\users\family\scoop\persist\pyenv\pyenv-win\versions\3.10.3\lib\site-packages (from pdfminer.six>=20200726->camelot-py[base]) (37.0.4)
Requirement already satisfied: charset-normalizer>=2.0.0 in c:\users\family\scoop\persist\pyenv\pyenv-win\versions\3.10.3\lib\site-packages (from pdfminer.six>=20200726->camelot-py[base]) (2.1.0)
Requirement already satisfied: cffi>=1.12 in c:\users\family\scoop\persist\pyenv\pyenv-win\versions\3.10.3\lib\site-packages (from cryptography>=36.0.0->pdfminer.six>=20200726->camelot-py[base]) (1.15.1)
Requirement already satisfied: six>=1.5 in c:\users\family\scoop\persist\pyenv\pyenv-win\versions\3.10.3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.23.4->camelot-py[base]) (1.16.0)
Requirement already satisfied: pycparser in c:\users\family\scoop\persist\pyenv\pyenv-win\versions\3.10.3\lib\site-packages (from cffi>=1.12->cryptography>=36.0.0->pdfminer.six>=20200726->camelot-py[base]) (2.21)

WARNING: camelot-py 0.9.0 does not provide the extra 'base'
WARNING: You are using pip version 22.0.4; however, version 22.1.2 is available.
You should consider upgrading via the 'C:\Users\Family\scoop\apps\pyenv\current\pyenv-win\versions\3.10.3\python.exe -m pip install --upgrade pip' command.

In [23]:
import pandas as pd

In [66]:
tables = camelot.read_pdf("players/USBORD_3.pdf", flavor='lattice', strip_text=' .\n', pages='all')
tables[0].df

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,CITIZENSHIP,SOUTHWESTBORDER,,,,,,,,,...,,,,,,COASTALBORDER,,,,NationwideTotal
1,,BBT,DRT,ELC,EPT,LRT,RGV,SDC,TCA,YUM,...,HLT,HVM,SPW,SWB,NBOTotal,MIP,NLL,RMY,CBOTotal,
2,AFGHANISTAN,,,,,,,,,1,...,,,,1,1,,,,0,2
3,ALBANIA,,,,1,3,4,,,,...,,,,6,13,,,,0,21
4,ALGERIA,,,,,1,,,,,...,,,,,0,,,,0,1
5,ANGOLA,,,1,,,,,,,...,,,,,0,,,,0,1
6,ANTIGUA-BARBUDA,,,,,,,,,,...,,,,1,1,2,1,,3,4
7,ARGENTINA,,2,6,3,7,15,8,17,6,...,,,,,11,6,1,,7,82
8,ARMENIA,,,,,,,5,,,...,,,,,2,,,,0,7
9,AUSTRALIA,1,1,,,,,,,,...,,,,,2,1,,,1,5
10,AUSTRIA,,,,,,,,,,...,,,,,1,,,,0,1
11,AZERBAIJAN,,,,,,,,,,...,,1,,,1,,,,0,1
12,BAHAMAS,1,,,1,,,1,,,...,,,,,0,12,,,12,15
13,BANGLADESH,,,,,1,21,,1,,...,,,,1,7,4,2,,6,36
14,BARBADOS,,,,,,,,,,...,,,,,0,,1,,1,1
15,BELARUS,,,,,,,,1,,...,,,,1,3,,,,0,4
16,BELGIUM,,,,,,,,,1,...,,1,,,1,,,,0,2
17,BELIZE,,3,3,2,6,21,4,4,,...,,,,,4,3,3,,6,53
18,BENIN,,,,,,,,,,...,,,,,2,,,,0,2
19,BHUTAN,,,,,,,,,,...,,,,,1,,,,0,1
20,BOLIVIA,,2,,2,15,46,9,2,,...,,,2,6,13,1,2,,3,92
21,BOSNIA-HERZEGOVINA,,,,1,,1,,1,,...,,,,,0,,,,0,3
22,BRAZIL,5,5,1,16,172,793,6,9,1,...,16,2,,76,117,44,45,,89,"1,214"
23,BULGARIA,1,1,,,2,1,1,4,,...,,,,4,7,,,,0,17
24,BURKINAFASO,1,,,,,,,,,...,,,,,0,,,,0,1
25,BURMA,,,1,,,3,,3,,...,,,,,2,,2,,2,11
26,CAMBODIA,,,,1,,,1,1,,...,,,,,0,,,,0,3
27,CAMEROON,,,,,,1,,1,,...,,,,,2,,1,,1,5
28,CANADA,4,,2,,2,3,1,1,2,...,32,16,15,303,536,3,,,3,554
29,CAPEVERDE,,,,,,,,,,...,,,,3,3,,,,0,3
30,CENTRALAFRICANREPUBLIC,,,,,,1,,,,...,,,,,0,,,,0,1
31,CHILE,2,,4,13,5,7,11,12,2,...,,1,,2,6,1,2,1,4,66
32,"CHINA,PEOPLESREPUBLICOF",4,3,20,5,101,553,3,38,3,...,1,,,27,81,19,6,1,26,837
33,COLOMBIA,7,15,3,125,26,88,13,24,1,...,,1,,69,119,31,15,,46,467
34,CONGO,1,1,,,,,,,,...,,,,3,10,,1,,1,13
35,COSTARICA,3,3,1,34,17,42,5,40,4,...,,,,1,23,9,11,,20,192
36,CROATIA,1,,,,,,,,,...,,,,1,1,,,,0,2
37,CUBA,9,6,5,16,23,52,2,16,2,...,,,,1,,"43,959",1,201,"4,161","4,296"
38,CZECHREPUBLIC,1,,,3,,1,2,1,2,...,,,,,1,2,2,,4,15
39,CZECHOSLOVAKIA,,,,,,,,1,,...,,,,,5,2,,,2,8
40,DOMINICA,,,,,,,,,,...,,,,2,3,,,,0,3
41,DOMINICANREPUBLIC,,1,,15,54,112,3,9,,...,1,,,10,18,8,1,340,349,561
42,ECUADOR,6,1,13,33,215,164,22,294,21,...,1,1,,45,149,21,18,,39,957
43,EGYPT,1,,,,,,,1,,...,,,,,3,,4,,4,9
44,ELSALVADOR,115,921,190,785,"2,442","6,508",313,"2,174",154,...,4,6,1,19,156,100,254,,354,"14,112"
45,ERITREA,,,,,2,86,,,,...,,,,,0,,,,0,88
46,ESTONIA,1,,,,,,,,,...,,,,1,1,,,,0,2
47,ETHIOPIA,,1,,,2,42,1,,,...,,,,,0,,,,0,46
48,FRANCE,3,1,2,1,,2,,,,...,,,,1,5,1,,,1,15
49,GABON,,,,,,,,,,...,,,,,1,1,,,1,2
50,GAMBIA,,,,1,,1,,,,...,,,,1,2,1,,,1,5
51,GEORGIA,,,,,,,,1,,...,,,,,1,2,1,,3,5
52,GERMANY,3,,,,,1,2,,,...,,,,1,4,1,,,1,11
53,GHANA,,,,,,6,,,,...,1,,,3,24,1,,,1,31
54,GREECE,,,,,,,,1,,...,,,,,0,,1,,1,2
55,GRENADA,1,,,,,,,,,...,,,,,1,1,,,1,3
56,GUAM,,,,,,,,1,,...,,,,,0,,,,0,1
57,GUATEMALA,157,872,195,"1,484","1,821","3,972",548,"7,045",213,...,8,14,3,46,319,476,236,,712,"17,338"

In [67]:
import pandas as pd

dfs = [table.df for table in tables]
df = pd.concat(dfs, ignore_index=True)
df.tail()

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
2150,YEMEN,,8,1,2,1,4,5,,7,...,,,,,0,,,,0,28
2151,YUGOSLAVIA,,,,,,,,,,...,,,,,1,,,,0,1
2152,ZAMBIA,,,,,,,,,,...,,,,,1,1,,,1,2
2153,ZIMBABWE,,,,,,1,,,,...,,,,,1,,,,0,2
2154,TOTAL,"8,628","40,342","27,492","54,396","51,425","90,206","53,282","66,076","8,804",...,104,30,236,574,"2,155","1,302",572,356,"2,230","405,036"

In [68]:
df = df.iloc[1:]
df

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
1,,BBT,DRT,ELC,EPT,LRT,RGV,SDC,TCA,YUM,...,HLT,HVM,SPW,SWB,NBOTotal,MIP,NLL,RMY,CBOTotal,
2,AFGHANISTAN,,,,,,,,,1,...,,,,1,1,,,,0,2
3,ALBANIA,,,,1,3,4,,,,...,,,,6,13,,,,0,21
4,ALGERIA,,,,,1,,,,,...,,,,,0,,,,0,1
5,ANGOLA,,,1,,,,,,,...,,,,,0,,,,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2150,YEMEN,,8,1,2,1,4,5,,7,...,,,,,0,,,,0,28
2151,YUGOSLAVIA,,,,,,,,,,...,,,,,1,,,,0,1
2152,ZAMBIA,,,,,,,,,,...,,,,,1,1,,,1,2
2153,ZIMBABWE,,,,,,1,,,,...,,,,,1,,,,0,2
2154,TOTAL,"8,628","40,342","27,492","54,396","51,425","90,206","53,282","66,076","8,804",...,104,30,236,574,"2,155","1,302",572,356,"2,230","405,036"

In [69]:
df.rename(columns=df.iloc[0]).drop(df.index[0])

,,BBT,DRT,ELC,EPT,LRT,RGV,SDC,TCA,YUM,...,HLT,HVM,SPW,SWB,NBOTotal,MIP,NLL,RMY,CBOTotal,
2,AFGHANISTAN,,,,,,,,,1,...,,,,1,1,,,,0,2
3,ALBANIA,,,,1,3,4,,,,...,,,,6,13,,,,0,21
4,ALGERIA,,,,,1,,,,,...,,,,,0,,,,0,1
5,ANGOLA,,,1,,,,,,,...,,,,,0,,,,0,1
6,ANTIGUA-BARBUDA,,,,,,,,,,...,,,,1,1,2,1,,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2150,YEMEN,,8,1,2,1,4,5,,7,...,,,,,0,,,,0,28
2151,YUGOSLAVIA,,,,,,,,,,...,,,,,1,,,,0,1
2152,ZAMBIA,,,,,,,,,,...,,,,,1,1,,,1,2
2153,ZIMBABWE,,,,,,1,,,,...,,,,,1,,,,0,2
2154,TOTAL,"8,628","40,342","27,492","54,396","51,425","90,206","53,282","66,076","8,804",...,104,30,236,574,"2,155","1,302",572,356,"2,230","405,036"

In [73]:
df.to_csv('players/USBORD.csv')